<div class= "container" style="width: 80%;">

    <form action = "/contact/create/" method = "GET" class= "form-signin">
        <h2 class= "form-signin-heading">Add Conact...</h2>

            <input type= "text" class = "form-control" placeholder = "Name" name="name">
            <hr>
            <input type= "text" class = "form-control" placeholder = "Address" name="addresses[address1]">
            <hr>
            <input type= "text" class = "form-control" placeholder = "Phone Number" name="phoneNumbers[phoneNumber1]">
            <hr>
            <input type= "text" class = "form-control" placeholder = "Email" name="emails[email1]">
            <hr>
            <input type="hidden" class="form-control" value="<%= user.id %>" name="createdBy">
            <input type="hidden" class="form-control" value="<%= user.company.id %>" name="company">
            <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "Create Contact" />
            <input type= "hidden"  name = "_csrf" value = "<%= _csrf %>"/>

    </form>

</div>