<h2>Total Sales = $<%= totalSales.toFixed(0) %></div></h2>

<% if (showGraph) { %>
	<div class="demo-container" style="width: 90%; height: 450px; padding: 20px 15px 15px 15px; margin-bottom: 5%;">
		<div id="placeholder" class="demo-placeholder" style="width: inherit; height: inherit;">

		</div>
	</div>

	<h4>Legend: Blue - Projected Sales | Yellow - Targeted Sales | Red - Actual Sales</h4>
<% } 
   else { 

   } %>