<h3> Link your nutshell account and see more! </h3>
<br>
<br>
<% if (tasks.length > 0) { %>
<div class="row">
    <div class="col-lg-11">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Tasks</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <ul class="todo-list m-t">
                    <% _.each(tasks, function(task) { %>
                    <li>
                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs"><%= task.description %><br>  Due: <%= task.endDate %></span>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } 
   else { 
   }
%>