<div class="row">                              
<div class="col-sm-10 col-sm-offset-1">
     <div class="form-group">
        <p class = "description">
            Thanks for joining Hourwise! We're processing all this info now! We look forward to following up with you!
        </p>
      </div>
</div>