<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Hello!</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/gsdk-base.css" rel="stylesheet" />  
  <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet">    
  <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"> -->
  
</head>

<body>
<div class="image-container set-full-height" style="background-image: url('/images/backgrounds/bg2.jpg')">
    <!--   Creative Tim Branding   -->
    <a href="http://www.hourwise.com">
         <div class="logo-container">
            <div class="logo">
                <img src="/images/emily1.jpg">
            </div>
            <div class="brand">
                Hi! I'm Emily...
            </div>
        </div>
    </a>
    
    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
           
            <!--      Wizard container        -->   
            <div class="wizard-container"> 
                <form action= "/user/update/<%= user.id %>" method="POST" >
                  <!-- <input type= "hidden" name = "_csrf" value = "<%= _csrf %>" />                   -->
                  <input type= "hidden" name = "reroute" value = "pending" />                                                 
                <div class="card wizard-card ct-wizard-green" id="wizard">
                
                <!--        You can switch "ct-wizard-azzure"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"             -->
                
                    	<div class="wizard-header">
                        	<h3>
                        	   <b>Welcome!</b> To Hourwise <br>
                        	   <small>Your personal concierge service and new best friend!</small>
                        	</h3>
                    	</div>
                    	<ul>
                            <li><a href="#introduction" data-toggle="tab">Introduction</a></li>
                            <li><a href="#info" data-toggle="tab">Tell Us About You!</a></li>
                            <li><a href="#schedule" data-toggle="tab">Let's Talk!</a></li>
                            <!-- <li><a href="#payment" data-toggle="tab">Reserve Your Spot...</a></li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="introduction">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"> A bit about me before we jump in :-) </h4>
                                  </div>
                                 
                              </div>                                  
                                <div class="row">                              
                                    <div class="col-sm-10 col-sm-offset-1">
                                         <div class="form-group">
                                            <p class = "description">I'm Emily Martin (aka Emiry). I was born in Taiwan, but I grew up in Richmond, VA and it will always be home to me. My background/passion is in international human rights.   My role on this team is to put that 'help passion' to good use.  I'm your go-to-go girl! Any kind of support request you might have, I'll get it done for you! Outside the office, I am outdoors as much as possible- there's something about nature that's good for the soul. And I love roadtrips! One day I hope to move to the mountains (it's okay, I can be a part of the team wherever I am). 
                                            </p>
                                          </div>
                                    </div>
                                </div>   
                                <div class = "row">                                    
                                    <div class= "col-sm-3 col-sm-offset-1">
                                          <div class="form-group">
                                            <label>Favorite Song</label>
                                            <p class="description">"Lazy Eye"  - SilverSun Pickups</p>
                                          </div>
                                    </div>
                                    <div class= "col-sm-3 ">
                                          <div class="form-group">
                                            <label>Favorite Food</label>
                                            <p class="description">Rice (I'm Asian, I can't help it)</p>
                                          </div>
                                    </div>
                                    <div class= "col-sm-3 ">
                                          <div class="form-group">
                                            <label>Favorite Destination</label>
                                            <p class="description">Rocky Mountains</p>
                                          </div>                                      
                                    </div>                                    
                                </div>                              
                            </div>

                            <div class="tab-pane" id="info">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"> Let's start with the basic details</h4>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>What's your company?</label>
                                        <input type="text" class="form-control" id="companyName" name ="wizardInfo[company]" placeholder="Company Name">
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                        <label>Industry</label>
                                        <select class="form-control" name ="wizardInfo[industry]">
                                            <option disabled="" selected="">- industry -</option>
                                            <option> Carpentry </option>
                                            <option> Carpet Install </option>
                                            <option> Deck/Porch </option>
                                            <option> Disaster Restoration </option>
                                            <option> Driveways </option>
                                            <option> Drywall </option>
                                            <option> Electrical </option>
                                            <option> Fencing </option>
                                            <option> Floor Refinishing </option>
                                            <option> Flooring/Hardwood </option>
                                            <option> Framing </option>
                                            <option> Gutters </option>
                                            <option> Handyman </option>
                                            <option> Hardscapes </option>
                                            <option> HVAC </option>
                                            <option> Insulation </option>
                                            <option> Irrigation </option>
                                            <option> Kitchen/Bath </option>
                                            <option> Landscape Design/Install </option>
                                            <option> Landscape Maintenance </option>
                                            <option> Masonry </option>
                                            <option> Painting </option>
                                            <option> Plumbing </option>
                                            <option> Renovations/Additions </option>
                                            <option> Roofing </option>
                                            <option> Siding </option>
                                            <option> Tile/Stone </option>
                                            <option> Windows/Doors </option>
                                            <option> Other...</option>
                                        </select>
                                      </div>
                                  </div>                             
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                          <label>2014 Sales/Revenue</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" name ="wizardInfo[sales]">
                                              <span class="input-group-addon">$</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                          <label>2015 Sales Goal</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" name ="wizardInfo[salesGoal]">
                                              <span class="input-group-addon">$</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>                           
                            </div>                            
                           <div class="tab-pane" id="schedule">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"> Let's talk ASAP</h4>
                                  </div>
                                    <div class = "col-sm-12">
                                       <iframe src="https://hourwise.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:300px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
                                       <script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>
                                    </div>
                              </div>                           
                            </div>   
<!-- 
                            <div class="tab-pane" id="payment">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"> Don't worry, we're not going to charge you...this reserves your spot! </h4>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>CC Number</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Credit Card">
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                       <div class="form-group">
                                            <label>Expiration</label><br>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Credit Card">
                                        </div>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                          <label>Card Type</label>
                                          <select class="form-control">
                                            <option disabled="" selected="">- card -</option>
                                            <option>Visa</option>
                                            <option>Mastercard </option>
                                            <option>Amex</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                          <label>Name on Card</label>
                                          <div class="input-group">
                                              <input type="text" class="form-control" placeholder="Name">
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div> -->

                        </div>
                        <div class="wizard-footer">
                            	<div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd btn-sm' name='next' value='Next' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd btn-sm' name='finish' value='Finish' />
        
                                </div>
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                        </div>	
                </div>
                </form>
            </div> <!-- wizard container -->
        </div>
        </div> <!-- row -->
    </div> <!--  big container -->
   
    <div class="footer">
      <div class="container">
             Check out more <i class="fa fa-clock"></i> at <a href="http://www.hourwise.com">Hourwise</a>. 
      </div>
    </div>
    
</div>

</body>

    <script src="/js/jquery-2.1.1.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		
	<!--   plugins 	 -->
	<script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
	<script src="/js/wizard.js"></script>
	
</html>