<a href="https://app.pandadoc.com/oauth2/authorize?response_type=code&client_id=6b73487a706d423325fe&redirect_uri=stage.hourwise.com/job/pandaDocRedirect&scope=read+write"<button class="btn btn-primary" type="submit">Connect to PandaDoc</button></a>


<div id="eMjE5OTEz"><!-- embed template placeholder --></div>
<script type="text/javascript">
    var pandadoc_embed_config = {
        embed_uuid: 'MjE5OTEzMTE2MzE5OTcxNzM0OTk4MDY0NTM0NDY3MDA5MTAzOTA5NzExNTk0Mjc3MjcyMjQ4NzkyMzI3MjE2NjczNTcyNzQ2NjAxOTgyMTM5NTM5ODExNDI1ODkxNDE3',
        host : 'app.pandadoc.com',
        width : 900, height : 700,
        element_id: 'eMjE5OTEz'
    };
    (function() {
        var pds = document.createElement('script'); pds.type = 'text/javascript'; pds.async = true; pds.src = 'https://pd-web.s3.amazonaws.com/embed/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pds);
    })();
</script>
<noscript>Please enable JavaScript to view and sign this document.<a href="https://www.pandadoc.com/?utm_source=embed-noscript">Powered by PandaDoc.</a></noscript>
        