<a href="https://app.pandadoc.com/oauth2/authorize?response_type=code&client_id=6b73487a706d423325fe&redirect_uri=stage.hourwise.com/job/pandaDocRedirect&scope=read+write"<button class="btn btn-primary" type="submit">Connect to PandaDoc</button></a>

        