<section class="focus" id="focus">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="dark-text">What We Do</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6>
            We help the small service business run a more professional &amp; efficient business.    
        </h6>
        <iframe width="560" height="315" src="//www.youtube.com/embed/dGJSB8oCUIo?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- 4 FOCUS BOXES -->
    <div class="row">
        
        <!-- FIRST FOCUS BOXES -->
        <div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="service-icon">
                <i class="pixeden pd-icon-tablet"></i> <!-- FOCUS ICON-->
            </div>
            <h5 class="red-border-bottom">Quotes</h5> <!-- FOCUS HEADING -->
            <p> <!-- FOCUS DESCRIPTION -->
                 Stop typing estimates after a long day, and spending countless hours fighting the format and styles.  Instead, call us or email us your content and pricing and we'll whip up the most professional quote you've ever seen.  Oh, and by the way, we'll tell you when the client views it!
            </p>
        </div>
        <!-- / END FIRST FOCUS BOX. Other boxes has same format -->
        
        <div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="service-icon">
                <span class="pixeden pd-icon-money"></span>
            </div>
            <h5 class="green-border-bottom">Invoicing</h5>
            <p>
                 Having a problem getting paid?  Sick of driving around picking up payments, or waiting for the mail to arrive?  Ask us to invoice, and we'll send it, track it, and follow up until you get paid.  It's as easy as picking up the phone.
            </p>
        </div>
        
        <div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="service-icon">
                <i class="pixeden pd-icon-email-marketing"></i>
            </div>
            <h5 class="blue-border-bottom">Follow Up</h5>
            <p>
                We know the most difficult part of growing a business is keeping up with all the opportunities and past clients that come in.  Most service businesses stop at one attempt and give up.  We don't. We follow up as needed to help you sell more!
            </p>
        </div>
        
        <div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="service-icon">
                <i class="pixeden pd-icon-check"></i>
            </div>
            <h5 class="yellow-border-bottom">Growth</h5>
            <p>
                By taking some of these 'hats' off your head, you can focus on what you love doing - your trade! You can also start to invest time into the important yet neglected aspects of the business.  
            </p>
        </div>
    </div>
    <!-- / END 4 FOCUS BOXES -->
    
    <!-- OTHER FOCUSES -->
    <div class="other-focuses">
        <h5><span class="section-footer-title">We're Working on...</span></h5>
    </div>
    
    <!-- OTHER FOCUS LIST -->
    <div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <ul>
            <li><i class="icon-fontawesome-webfont-8"></i>WEB APPLICATIONS</li>
            <li><i class="icon-fontawesome-webfont-267"></i>LEAD GEN</li>
            <li><i class="icon-fontawesome-webfont-358"></i>Project Management</li>
            <li><i class="icon-fontawesome-webfont-102"></i>IOS APP</li>
        </ul>
    </div> <!-- / END OTHER FOCUS LIST -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->
<!-- / END SEPARATOR -->

<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" id="pricingtable">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">Packages</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            We have options to fit the variety of stages that exist. 
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- PACKAGES -->
    <div class="row">
        
        <!-- FIRST PACKAGE -->
        <div class="col-lg-4 col-sm-4">
            <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="package-header green-bg">
                    <h5>Apprentice</h5>
                </div>
                <div class="price dark-bg">
                    <div class="price-container">
                    <h4><span class="dollar-sign">$</span>149 </h4>
                    <span class="price-meta">/ Mo</span>
                    </div>
                </div>
                <ul>
                    <!-- <li><i class="icon-check"></i>50 minuts of concierge time</li> -->
                    <li><i class="icon-check"></i>Member of Service Network</li>
                    <li><i class="icon-check"></i>Quotes/Work-Orders/Invoices</li>
                    <li><i class="icon-check"></i>Email Follow-up</li>
                    <li><i class="icon-check"></i>Phone Follow-Up</li>
                    <li><i class="icon-check"></i>Priority Leads</li>
                    <li><i class="icon-check"></i>AND MORE!</li>
                    <li><i class="icon-fontawesome-webfont-219"></i>50 minutes of concierge time</li>                    
                </ul>
                <!-- <a href="https://hourwise.chargify.com/subscribe/qnwqnnjq/149d50m" class="btn btn-primary custom-button green-btn">
                Sign Up </a> -->
            </div>
        </div> <!-- / END FIRST PACKAGE -->

                <!-- Second PACKAGE -->
        <div class="col-lg-4 col-sm-4">
            <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="package-header red-bg">
                    <h5>Journeyman</h5>
                </div>
                <div class="price dark-bg">
                    <div class="price-container">
                    <h4><span class="dollar-sign">$</span>299</h4>
                    <span class="price-meta">/ Mo</span>
                    </div>
                </div>
                <ul>
                    <!-- <li><i class="icon-check"></i>50 minuts of concierge time</li> -->
                    <li><i class="icon-check"></i>Member of Service Network</li>
                    <li><i class="icon-check"></i>Quotes/Work-Orders/Invoices</li>
                    <li><i class="icon-check"></i>Email Follow-up</li>
                    <li><i class="icon-check"></i>Phone Follow-Up</li>
                    <li><i class="icon-check"></i>Priority Leads</li>
                    <li><i class="icon-check"></i>AND MORE!</li>
                    <li><i class="icon-fontawesome-webfont-219"></i>150 minutes of concierge time</li>                    
                </ul>
                <!-- <a href="https://hourwise.chargify.com/subscribe/w6wzrqdv/299d150m" class="btn btn-primary custom-button green-btn">
                Sign Up </a> -->
            </div>
        </div> 
        <!-- / END Second PACKAGE -->

                <!-- Third PACKAGE -->
        <div class="col-lg-4 col-sm-4">
            <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="package-header blue-bg">
                    <h5>Professional</h5>
                </div>
                <div class="price dark-bg">
                    <div class="price-container">
                    <h4><span class="dollar-sign">$</span>499</h4>
                    <span class="price-meta">/ Mo</span>
                    </div>
                </div>
                <ul>
                    <!-- <li><i class="icon-check"></i>50 minuts of concierge time</li> -->
                    <li><i class="icon-check"></i>Member of Service Network</li>
                    <li><i class="icon-check"></i>Quotes/Work-Orders/Invoices</li>
                    <li><i class="icon-check"></i>Email Follow-up</li>
                    <li><i class="icon-check"></i>Phone Follow-Up</li>
                    <li><i class="icon-check"></i>Priority Leads</li>
                    <li><i class="icon-check"></i>AND MORE!</li>
                    <li><i class="icon-fontawesome-webfont-219"></i>350 minutes of concierge time</li>                    
                </ul>
                <!-- <a href="https://hourwise.chargify.com/subscribe/pbfyh6vs/499d350m" class="btn btn-primary custom-button green-btn">
                Sign Up </a> -->
            </div>
        </div> 
        <!-- / END Third PACKAGE -->


        <!-- <div class="col-lg-4 col-sm-4"> -->
            <!-- <div class="best-value"> -->
<!--                 <div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="package-header red-bg">
                        <h4>Tradesman</h4>
 -->                <!--        <div class="meta-text">
                            Best Value
                        </div> -->
  <!--                   </div>
                    <div class="price dark-bg">
                        <h4><span class="dollar-sign">$</span>150</h4>
                        <span class="price-meta">/ Mo</span>
                    </div>
                    <ul>
                    <li><i class="icon-check"></i>Member of Service Network</li>
                    <li><i class="icon-check"></i>Quotes/Work-Orders/Invoices</li>
                    <li><i class="icon-check"></i>Email Follow-up</li>
                    <li><i class="icon-check"></i>Phone Follow-Up</li>
                    <li><i class="icon-check"></i>Branded Correspondence</li>
                    <li><i class="icon-check"></i>Sales/Pipeline Management</li> -->
<!--                    <li><i class="icon-cancel"></i>Branded URLs</li>
                    <li><i class="icon-cancel"></i>Priority Leads</li> -->
<!--                     <li><i class="icon-fontawesome-webfont-219"></i>All plans pay 3% on managed revenue and an additional 7% on leads generated</li>                    
                    </ul>
                    <a href="#contact" class="btn btn-primary custom-button red-btn">
                Sign Up </a>
                </div>
 -->            <!-- </div> -->
<!--         </div>
        
        <div class="col-lg-4 col-sm-4">
            <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="package-header blue-bg">
                    <h5>Professional</h5>
                </div>
                <div class="price dark-bg">
                    <div class="price-container">
                    <h4><span class="dollar-sign">$</span>250 </h4>
                    <span class="price-meta">/ Mo</span>
                    </div>
                </div>
                <ul>
                    <li><i class="icon-check"></i>Member of Service Network</li>
                    <li><i class="icon-check"></i>Quotes/Work-Orders/Invoices</li>
                    <li><i class="icon-check"></i>Email Follow-up</li>
                    <li><i class="icon-check"></i>Phone Follow-Up</li>
                    <li><i class="icon-check"></i>Branded Correspondence</li>
                    <li><i class="icon-check"></i>Sales/Pipeline Management</li>
                    <li><i class="icon-check"></i>Branded URLs</li>
                    <li><i class="icon-check"></i>Priority Leads</li>
                    <li><i class="icon-fontawesome-webfont-219"></i>All plans pay 3% on managed revenue and an additional 7% on leads generated</li>
                </ul>
                <a href="#contact" class="btn btn-primary custom-button blue-btn">
                Sign Up </a>
            </div>
        </div>
        
        
    </div>  --><!-- / END PACKAGES -->
    
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->

<!-- =========================
   WORKS SECTION      
============================== -->


<!-- =========================
   ABOUT US SECTION   
============================== -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-form" id="click">
</button> -->

<div id="getInfoModal" class="modal" aria-hidden="true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title">Thanks, for showing interest!</h4>
      </div>
      <div class="modal-body">
         <div class="row">
                        <div class="col-sm-12 b-r">

                            <p>If we could just get a couple quick things then at the bottom of the page you can fill out an email form to get in touch with us, or book an appointment!</p>

                            <form role="form">
                                <div class="form-group"><label>Name</label> <input type="name" placeholder="Name..." id="modalName" class="form-control" /></div>
                                <div class="form-group"><label>Email</label> <input type="email" placeholder="Email..." id="modalEmail" class="form-control" /></div>
                                <div class="form-group"><label>Phone Number</label> <input type="text" placeholder="Phone..." id="modalPhone" class="form-control" /></div>
                                <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalSubmit">Submit</button>

                            </form>
                        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div><!-- /.modal -->


<!-- <div id="modal-form" class="modal" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 b-r"><h3 class="m-t-none m-b">Thanks, for showing interest!</h3>

                            <p>If we could just get a couple quick things from you before you book an appointment...</p>

                            <form role="form">
                                <div class="form-group"><label>Name</label> <input type="name" placeholder="Name..." id="modalName" class="form-control"></div>
                                <div class="form-group"><label>Email</label> <input type="email" placeholder="Email..." id="modalEmail" class="form-control"></div>
                                <div class="form-group"><label>Phone Number</label> <input type="text" placeholder="Phone..." id="modalPhone" class="form-control"></div>

                               <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                              </div>
                            </form>
                        </div>
                </div>
            </div>
            </div>
        </div>
</div> -->

<section class="about-us" id="aboutus">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">About US</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
                We believe we can raise the bar in the service industry, by helping small businesses think differently. 
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- 3 COLUMNS OF ABOUT US-->
    <div class="row">
        
        <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
        <div class="col-lg-4 col-md-4 column">
            <div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                 Helping businesses since 2012.
            </div>
        </div>
        
        <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
        <div class="col-lg-8 col-md-8 column">
            <p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                We believe that the owners, employees, and craftsmen/women in the service industry are the backbone of America. We also believe, that in tough economic times they are hit the hardest. Most of us in the industry are so focused on being the best, that the act of running the business suffers. Sometimes at the end of a big project we crunch all the numbers and wonder, "how did I work so hard and lose money on that job!?" We've tried hiring people, buying expensive software, creating a new file system, organizing and re-organizing while we say "this time will be different". Nothing seems to stick though, because at the end of the day, we are human and running a business while working full time is difficult.<br/><br/>

                Out of frustration we decided that it was time to change that. We set out to create a solution that not only helps run the business but it also helps grow the business. To create a community, where people help each other solve problems and gather/contribute useful content for other contractors as well as the DIYers. A place where someone can find a contractor, manage their project, and track expenses, without worrying about spending hours integrating with other systems. We think by fostering this community, everyone will thrive...because all ships rise with the incoming tide!<br/><br/>
                
                We are making an impact. A big impact. One company at a time. 
            </p>
        </div>
        

    </div> <!-- / END 3 COLUMNS OF ABOUT US-->
<section class="contact-us" id="contact">
<div class="container">
    
    <!-- SECTION HEADER -->
        <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">Get in touch</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            Have any questions? Drop us a message. We will get back to you in 24 hours.
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- CONTACT FORM-->
    <div class="col-md-8 col-md-offset-2 contact-form">
    <div id="wufoo-m12ptcuy00cxfiu"><iframe id="wufooFormm12ptcuy00cxfiu" class="wufoo-form-container" height="416" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://hourwise.wufoo.com/embed/m12ptcuy00cxfiu/def/embedKey=m12ptcuy00cxfiu412300&amp;entsource=&amp;referrer=">&lt;a href="https://hourwise.wufoo.com/forms/m12ptcuy00cxfiu/" title="html form"&gt;Fill out my Wufoo form!&lt;/a&gt;</iframe></div>
<div id="wuf-adv" style="font-family: inherit; font-size: small; color: rgb(167, 167, 167); text-align: center; display: none;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var m12ptcuy00cxfiu;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'hourwise',
'formHash':'m12ptcuy00cxfiu',
'autoResize':true,
'height':'497',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m12ptcuy00cxfiu = new WufooForm();m12ptcuy00cxfiu.initialize(options);m12ptcuy00cxfiu.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
<div>

    <!-- <div class="row">
        <form role="form" action="mailto:support@hourwise.com" method = "post" class="contact-form" enctype="text/plain">
            <div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="col-lg-4 col-sm-4">
                <input type="text" name="name" placeholder="Your Name" class="form-control input-box">
            </div>
            <div class="col-lg-4 col-sm-4">
                <input type="email" name="email" placeholder="Your Email" class="form-control input-box">
            </div>
            <div class="col-lg-4 col-sm-4">
                <input type="text" name="subject" placeholder="Subject" class="form-control input-box">
            </div>
            </div>
            
            <div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <textarea name="message" class="form-control textarea-box" placeholder="Your Message"></textarea>
            </div>
            <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
        </form>
    </div> -->
    <!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</div></div></section>
<section>
    <iframe id="bookMeFrame" src="https://hwdemo.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>
</section>

<script>
    var userId = '<%- user.id %>';
</script>
